# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/.vscode

# dependencies
/node_modules
/.pnp
/test-output
.pnp.js

# testing
/coverage

# packaging
/build

# releases
/releases/

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dev
secrets.sh

# ide
.idea

# complexity reports
es6-src/
report/

# VoTT Server
server/lib
server/node_modules
server/coverage
