@import '../../../../assets/sass/theme.scss';
@import "~video-react/styles/scss/video-react";

.editor-page {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 100%;

    &-sidebar {
        min-width: 290px;

        &-nav {
            width: 100%;
            height: 100%;
        }
    }

    &-content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        min-width: 290px;

        &-header {
            flex-basis: 50px;
        }

        &-body {
            display: flex;
            flex-grow: 1;
            background-color: $darker-5;
        }

        &-footer {
            flex-basis: 100px;
        }
    }

    .asset-item:first-child {
        padding: 1em;
    }

    .asset-item {
        padding: 0.5em 1em;
        border-bottom: 1px solid $lighter-3;

        &:hover {
            position: relative;
            background-color: $lighter-3;
            cursor: pointer;
        }

        &.selected {
            color: #fff;
            background-color: $lighter-4;
            font-weight: 600;
        }

        &.visited::after, &.tagged::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        &.visited::after {
            background-color: rgba(255,255,0,0.10);
            border: 1px solid rgba(255,255,0,0.25);
        }

        &.tagged::after {
            background-color: rgba(0,128,0, 0.10);
            border: 1px solid rgba(0,128,0,0.25);
        }

        &-image {
            width: 260px;
            height: 195px;
            overflow: hidden;
            outline: 1px solid $lighter-2;
            background-color: $darker-5;
            text-align: center;
            position: relative;

            .asset-preview {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                height: 100%;
            }

            &:hover {
                &::after {
                    content: ' ';
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background-color: $lighter-3;
                    z-index: 1;
                }
            }

            img {
                display: inline-block;
                margin: auto;
                max-width: 100%;
                max-height: 100%;
            }

            video {
                display: inline-block;
                margin: 0px;
                max-width: 100%;
                max-height: 100%;
            }

            .asset-loading {
                position: absolute;
                top: 45%;
                left: 50%;
            }
        }

        &-metadata {
            font-size: 80%;

            .asset-filename {
                max-width: 175px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: inline-block;
                white-space: nowrap;
            }
        }
    }
}

#ct-zone {
    position: relative;
    flex-grow: 1;

    .asset-video {
        height: calc(100% - 30px);
    }
}

#selection-zone {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    height: 100%;
}

.canvas-enabled {
    .video-react {
        z-index: 0;
    }
}

.canvas-disabled {
    .video-react {
        z-index: 1;
    }
}

canvas {
    background-color: #1e2024 !important;
}

.video-react {
    font-family: inherit;
    height: calc(100% - 30px) !important;

    &-video {
        background-color: #1e2024;
        position: static !important;
    }

    &-control-bar {
        position: static !important;
    }

    * {
        font-family: inherit;
    }
}
