@import '../../../../assets/sass/theme.scss';
@import "~video-react/styles/scss/video-react";

.editor-page {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    &-sidebar {
        display: flex;
        min-width: 144px;

        &-nav {
            width: 100%;
        }
    }

    &-content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        min-width: 290px;

        &-header {
            flex-basis: 50px;
        }

        &-body {
            position: relative;
            display: flex;
            flex-grow: 1;
            background-color: $darker-5;
            flex-direction: column;
        }

        &-footer {
            flex-basis: 100px;
        }

        .video-react {
            background-color: #1e2024 !important;

            &-video {
                height: calc(100% - 3em) !important;
            }

            &-control-bar {
                display: static !important;
            }
        }
    }

    .asset-item {
        border-bottom: 1px solid $lighter-3;

        &:hover {
            position: relative;
            background-color: $lighter-3;
            cursor: pointer;
        }

        &.selected {
            color: #fff;
            background-color: $lighter-4;
            font-weight: 600;
        }

        &.visited::after, &.tagged::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        &.visited::after {
            background-color: rgba(255,255,0,0.10);
            border: 1px solid rgba(255,255,0,0.25);
        }

        &.tagged::after {
            background-color: rgba(0,128,0, 0.10);
            border: 1px solid rgba(0,128,0,0.25);
        }

        &-image {
            width: 125px;
            height: 98px;
            overflow: hidden;
            display: flex;
            background-color: $darker-6;
            text-align: center;
            position: relative;
            padding: 12px 8px 12px 7px;
            margin: auto;

            &:hover {
                &::after {
                    content: ' ';
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background-color: $lighter-3;
                    z-index: 1;
                }
            }
        }

        &-metadata {
            font-size: 60%;

            .asset-filename {
                max-width: 70px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: inline-block;
                white-space: nowrap;
                margin: 0 0 0 8px;
            }

            .float-right {
                margin: 0 7px 0 0;   
            }
        }
    }
}

.locked-tag {
    font-weight: bolder;
    color: white;
}


.asset-preview {
    display: flex;
    flex-grow: 1;

    &-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .asset-loading {
        position: absolute;
        top: 45%;
        left: 50%;
    }

    img {
        margin: auto;
        max-width: 100%;
        max-height: 100%;
    }

    &.landscape {
        margin: auto 0;
    }

    &.portrait {
        margin: 0 auto;
    }
}

.video-timeline-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    .video-timeline {
        &-tagged, &-visited {
            width: 2px;
            position: absolute;
            height: 100%;
            cursor: pointer;
            opacity: 0.75;
        }

        &-tagged {
            background-color: green;
            z-index: 2
        }

        &-visited {
            background-color: yellow;
            z-index: 1;
        }
    }
}

#ct-zone {
    position: absolute;

    &.canvas-enabled {
        z-index: 1;
    }

    &.canvas-disabled {
        display: none;
        z-index: 0;
    }
}

#selection-zone {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.full-size {
    width: 100%;
    height: 100%;
}

canvas {
    background-color: #1e2024 !important;
}

.video-react {
    font-family: inherit;

    &-progress-control * {
        font-family: inherit;
    }

    &-fullscreen-control {
        display: none;
    }

    &-button:hover {
        text-shadow: 0 0 18px #fff, 0 0 18px #fff, 0 0 18px #fff
    }

    &-progress-holder, &-load-progress, &-play-progress {
        height: 0.5em !important;
    }

    &-play-progress {
        &::before {
            font-size: 1.2em !important;
        }
    }
}

.asset-error {
    margin: auto;
}
