@import "../../../../index.scss";

$tagInputWidth: 250px;

.condensed-list-header {
    display: flex;
    flex-direction: row;
    background: $darker-4;
}

.condensed-list-title {
    flex: 1;
}

.tag {
    &-input {
        background: $darker-2;
        min-width: $tagInputWidth;
    }

    &-item-block {
        padding: 1px 0;
    }

    &-item {
        display: flex;
        flex-direction: row;

        border: 1px solid $darker-12;
        border-left: none;

        &-selected {
            font-weight: bolder;
            color: white;
        }
    }

    &-content {
        flex: 1;
        background: $darker-15;
    }

    &-content:hover {
        background: $darker-10;
    }

    &-name {

        &-container {
            display: flex;
            flex-direction: row;
        }

        &-text {
            text-overflow: ellipsis;
            flex-grow: 1;
        }
    }

    &-input-box {
        min-width: $tagInputWidth;
    }

    &-index {
        flex-basis: 30px;
        padding: 0 5px;
        font-weight: bold;

    }

    &-item:hover {
        background:$lighter-4;
        cursor: pointer;
    }

    &-color-edit:hover {
        background: $darker-1;
        cursor: pointer;
    }

    &-color {
        width: 10px;
    }

    &-lock-icon {
        margin-left: 5px;
    }

    &-input-toolbar {
        display: flex;
        flex-direction: row;

        &-item {
            color: #ccc;
            padding: 1px;
        }

        &-item:hover {
            color: white;
            cursor: pointer;
        }
    }
}

.search-input {
    input {
        min-width: $tagInputWidth;
    }
}