@import "../../../../assets/sass/theme.scss";

.project-settings-page {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  min-height: fit-content;

  &-settings {
    flex-grow: 1;
  }

  &-metrics {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 325px;
    max-width: 420px;
    color: #fff;

    .loading {
      position: absolute;
      left: 50%;
      top: 25%;
    }

    p {
      font-size: 90%;
    }
  }

  svg {
    margin-top: 1em;
    text {
      fill: #fff;
      font-weight: 500;
    }
  }

  .asset-chart {
    font-size: 90%;

    @media (max-width: 1920px) {
        display: flex;
        align-items: center;
    }

    .hint-content {
      display: flex;
      color: #fff;
      background: #000;
      align-items: center;
      padding: 5px;

      &-box {
        height: 10px;
        width: 10px;
      }
    }

    .rv-sunburst {
      margin: 0 auto;
    }

    .rv-hint {
        white-space: nowrap;
    }
  }

  .tag-chart {
    margin: 0 auto;

    line {
      stroke: $lighter-5;
    }
  }
}

.assetCount {
  display: flex;
  align-items: center;
}
