.project-settings-page {
    display: flex;
    flex-direction: row;
    height: 100%;

    &-settings {
        flex-grow: 1;
    }

    &-metrics {
        flex-grow: 1;
        min-width: 20vw;
        max-width: 40vw;

        .loading {
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: center;
        }
    }
}
