.project-settings-page {
    display: flex;
    flex-direction: row;
    height: 100%;

    &-settings {
        flex-grow: 1;
    }

    &-metrics {
        align-content: center;
        align-items: center;
    }
}
