@import "../../../../assets/sass/theme.scss";
@import "../../common/common.scss";

div.ReactTags__tags {
    position: relative;
}

/* Styles for the input */
div.ReactTags__tagInput {
    display: inline-block;
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
    padding: 5px;
    border-radius: 0.25rem;
    border: solid 1px $lighter-3;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
    display: inline-block;
    background-color: $lighter-2;
    padding: 5px;
    margin-right: 5px;
    border-radius: 0.25rem;
    border: solid 1px $lighter-3;

    &:hover {
        background-color: $lighter-4;
    }
}
div.ReactTags__selected a.ReactTags__remove {
    color: #aaa;
    margin-left: 5px;
    text-align: center;
    padding: 0 5px;
    cursor: pointer;
    float: right;
    font-weight: bold;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
    position: absolute;
}
div.ReactTags__suggestions ul {
    list-style-type: none;
    box-shadow: .05em .01em .5em rgba(0,0,0,.2);
    background: white;
    width: 200px;
}
div.ReactTags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0;
}
div.ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
    background: #b7cfe0;
    cursor: pointer;
}

.tag {
    .tag-contents {
        display: flex;
        flex-direction: row;
        align-items: center;

        .tag-color-box {
            width: 15px;
            height: 15px;
            margin-right: 5px;
            margin-left: 2px;        
            border-radius: 0.25rem;
        }
    }
}

