.project-settings-page {
    display: flex;
    flex-direction: row;
    height: 100%;

    &-settings {
        flex-grow: 2;
    }

    &-metrics {
        flex: 2 1 400px;

        .loading {
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: center;
        }
    }
}
