.inline-block {
    display: inline-block;
}

.form-row {
    align-items: center;
    margin: 0;

    .object-wrapper {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
    }

    .form-group {
        margin-right: 1em;
        flex-grow: 1;
    }
}
