/*General*/

:host {
    display: block;
    box-sizing: border-box;
  }

.controlWrapper{
  width:100%;
  height:100%;
  border: 0px;
  border-style: solid;
  border-color: green;
  display: none;
  overflow: hidden;
  background-color: rgb(64,64,64);
  
}

.clickableControl{
  cursor: pointer;
}

.relativeDiv{
  position:relative;
}

/* Grid */
#controlWrapper {
  grid-template-rows: auto 60px 120px;
}

#videoWrapper {
  align-content: center;
  justify-content: center;
}

#videoWrapper .video-tagging {
  text-align: center;
}

#vid {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

#videoControls {
  grid-row: 2;
}

#videoTagControls {
  grid-row: 3;
}

#frameText {
  background-color: transparent;
  border-color: #ccc;
  border-width: 1px;
  text-decoration: none;
  border-style: solid;
}

/* CANVAS TOOLS */
#ctZone {        
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 64px 1fr;
  grid-template-rows: 1fr;
  background: rgb(64,64,64);
}

.toolbarStyle {
  grid-row: 1;
  grid-column: 1/2;
}

.toolbarStyle svg {
  width: 64px;
  height: 100%;
  margin-right:5px;
  background: #666;
  box-shadow: 0 0 0.5px #999, 5px 0px 10px -5px rgb(0,0,0);
}

#selectionZone {
  grid-row: 1;
  grid-column: 2/3;
  justify-self: center;
  align-self: center;

  background: rgb(64,64,64); 
  margin: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
}

#editorZone svg {
  box-shadow: 0px 0px 0.25px #999, 0px 0px 10px rgb(0,0,0);
}

/*Video area*/

.overlaystyle {
position: absolute; 
z-index: 20;
border:0px solid green;
display:none;
}

/* .frameCanvasStyle {
position: absolute; 
z-index: 10;
} */

/* .selectionZoneStyle {
  z-index: 30;
  position: absolute; 
  width: 100%;
  height: 100%;

  box-shadow: 0px 0px 0.25px #999, 0px 0px 10px rgb(0,0,0);
} */

.videoStyle {
 position:relative;
 z-index: 2;
 grid-row: 1;
 grid-column: 2/3;
 justify-self: center;
 align-self: center;

 visibility: hidden;
 width: 100%;
 height: 100%;
 background-size: contain; 
 background-repeat: no-repeat;
 background-position: 50% 50%;
 box-sizing: border-box;                    
}

/*playback*/

.playSpeedControl  {
  
  background:black;
  z-index:20000;
  color:white;
  position: absolute;
  border:.08em solid white;
  display: none;
}

.playSpeedValues{
  padding:.2em;
  color: rgb(191,191,191);
  text-align: center;
  font-family: Arial;
}

.playSpeedValueSelected{
  color: rgb(255,255,255);
  
}

/*region div and label*/
.regionLabel{
  background:rgb(59,56,56); 
  position:absolute; 
  z-index:50000;
  color:white;
  font-family: "Arial";
  display: block;
  opacity:.90;
  width:40px;height:20px;
}

.regionLabelSpan{
  padding-left: .3em;
  color:rgb(175,171,171);
}

.regionCanvas{    
  z-index: 100;
  background-color: transparent;
  position: absolute !important;
  /* border: 2px solid; */
  box-shadow: inset 0 0 0 2px;
  border-radius: 8px;
}

.regionPoint{
  border: none;
  /*add an x from http://stackoverflow.com/questions/18012420/draw-diagonal-lines-in-div-background-with-css*/
  background: 
  linear-gradient(to top left,
      rgba(0,0,0,0) 0%,
      rgba(0,0,0,0) calc(50% - 0.8px),
      rgba(0,0,0,1) 50%,
      rgba(0,0,0,0) calc(50% + 0.8px),
      rgba(0,0,0,0) 100%),
  linear-gradient(to top right,
      rgba(0,0,0,0) 0%,
      rgba(0,0,0,0) calc(50% - 0.8px),
      rgba(0,0,0,1) 50%,
      rgba(0,0,0,0) calc(50% + 0.8px),
      rgba(0,0,0,0) 100%);
}


.regionCanvasSelected{
  /* border: 2px solid; */
  box-shadow: inset 0 0 0 2px; 
  border-radius: 8px;
  background: repeating-linear-gradient(-45deg, rgba(200, 200, 200, 0.1) 10px, rgba(200, 200, 200, 0.1) 20px, rgba(0, 0, 0, 0.2) 20px, rgba(0, 0, 0, 0.2) 30px);
}


.closeRegion{
  float:right; 
  color: rgb(255,0,0);
  padding-right: .2em;
}


/*video controls*/
.videoControls  {
  width:100%;
  margin-top: 0px;

  box-shadow: 0 0 10px #000;            
  background-color: #333;
  border-top: 0.25px solid rgba(64,64,64,0.7)            
}

.videoControlsTable{
  border: 0px solid red;
  margin-left:1%;
  margin-right:1%;
}

.videoControlCell{
  text-align:center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.seekCell{
  padding-left: 1em;
  padding-right: 1.5em;
}

.volumeControlCell{
  text-align:left;
}

.simpleControl {
  width:5%;
}

.longControl{
  width:10%;
}

.frameNumber{
  width:15%;
}

.textElements{
  font-family:arial;
  color:white;
  text-align: center;
}


/*tagging controls*/
.videoTagControls  {
  
  border: rgb(38,38,38,0.25);
  background-color: black;
  margin-top:.15em;
  padding-bottom: .5em;
}


.optionalTags{
  float: left;
  width: 85%;
  margin: 1em 0 0 1.5em;
  overflow-y: auto;
  height: 100%;
}

.labelControls {
  float:right;
  margin: 1em 0 0;
  width:10%;
}

.addTag {
  padding-right: 1.2em;
}

.tagInput {
  max-width: 100px;
}

.lockTag{
  padding-left: .4em;
  
}

.taggingControls{
  color:rgb(255,255,255);
  font-size: 130%;
  cursor:pointer;
  text-align: center; 
}

.controlOn{
  color:rgb(255,255,255);
}

.controlOff{
  color:rgb(89,89,89);
}     

.tagButtons{
  margin-bottom: 10px;
  margin-left: 5px;
  background : rgb(59,56,56);
  color:rgb(127,127,127);
  max-width: 200px;
  min-width: 20px;
  font-family: Arial;
  font-size: 15px;
  border: 1px solid rgb(64,64,64);
  border-radius: 5px;
  user-select: none;
}
.tagButtons sup {
  user-select: none;
}

.tagOn{
  border-style: solid;
  border-color: rgb(217,217,217);
  border-width: thick;
}

.tagOff{
  background:rgb(59,56,56);
}

.tagButtons.auto::after {
  position: relative;
  content: "A";
  background: rgba(21, 127, 240, 1.0);
  color: white;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  font-size: 9px;
  right: -5px;
  top: -5px;
  overflow: visible;
  display: inline-block;
  text-align: center;
}

.tagButtons.hotkey span {
  position: relative;
  background: rgba(255, 255, 255, 1);
  color: black;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  font-size: 9px;
  right: -3px;
  top: -5px;
  overflow: visible;
  display: inline-block;
  text-align: center;
}