.app-connections-page {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    min-height: fit-content;

    &-list {
        flex-basis: 20vw;
        min-width: 250px;
        max-width: 300px;
    }

    &-detail {
        flex-grow: 1;
    }
}
